html {
	height: 100%;
}

body {
	color: #fff;
	font-family: Roboto;
	height: 100%;
	margin: 0;
	background: linear-gradient(to top right, #5a41b7, #1cabc9);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

h1 {
	font-weight: normal;
	text-align: center;
}

.service-text {
	font-size: 1.5em;
	padding-left: 5%;
	text-decoration: underline;
}

.grid-container {
	grid-template-columns: 12em 12m;
	grid-template-rows: 12em 12em;
	grid-gap: 1em;
	justify-items: center;
	align-items: center;
	margin: 0 25%;
	display: grid;
}

.grin {
	grid-row: 1;
	grid-column: 1;
	text-align: center;
}

.smile {
	grid-row: 1;
	grid-column: 2;
	text-align: center;
}

.meh {
	grid-row: 2;
	grid-column: 1;
	text-align: center;
}

.frown {
	grid-row: 2;
	grid-column: 2;
	text-align: center;
}

i {
	background-color: yellow;
	border-radius: 0.2em;
	color: #000;
	font-size: 5em;
	margin: 0 auto;
	padding: 0.2em;
}

.modal-content {
	background-color: #000 !important;
	height: 10rem;
	width: 30rem;
}

.modal-body {
	background-color: #000;
	color: #fff;
	display: flex;
	justify-items: center;
	align-items: center;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	height: 2rem;
}

.example {
	background-color: transparent;
	border: 0;
}